<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>1 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>1 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{98,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,54}</string>
            </dict>
            <key>1 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,28},{108,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>1 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,236},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>1 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{422,300},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>1 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{336,108},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>1 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{212,170},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>1 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{102,64},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>1 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{308,218},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>1 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{308,172},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{422,236},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>1 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{238,108},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,54}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>1 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{360,96},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,54}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>1 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>1 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{194,308},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>1 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,92}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>1 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>2 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{102,116},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{62,20}</string>
            </dict>
            <key>2 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,152},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>2 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{348,236},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>2 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{360,152},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>2 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>2 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,156},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>2 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,114},{88,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{88,36}</string>
            </dict>
            <key>2 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{218,114},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>2 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>2 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{84,212},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>2 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>2 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{454,226},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>2 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{458,84},{70,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>2 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,292},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>2 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>2 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{234,164},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>2 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,276},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>2 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{198,238},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb19506a5fc22c8f26c2357d808126f3:1/1$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
